.suppliers {
  margin: 0 calc(165px - 0.253807107 * (1440px - 100vw));
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

.suppliers__list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 18px;
  margin-top: 30px;
}

.suppliers__list-item {
  margin: 0;
}

@media screen and (max-width: 849px) {
  .suppliers {
      margin: 0 14px 0 15px;
  }
  .suppliers__list {
    margin-top: 0px;
  }
}
