.content {
  margin: 0;
  padding: 0;
}
.content__title {
  font-family: "EBGaramond", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #335E58;
  margin: 105px 0 0 0;
  width: 100%;
}
.content__text {
  font-family: 'FuturaBookC', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #001717;
  margin: 0;
}
@media screen and (max-width: 849px) {
  .content__title {
    margin: 32px 0 19px 0;
    font-size: 28px;
    line-height: 1.43;
  }
  .content__text {
    font-size: 18px;
    line-height: 1.35;
  }
}
