.content {
  margin: 0;
  padding: 0;

}
.content__title {
  font-family: "EBGaramond", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #335E58;
  margin: 105px 0 0 0;
  width: 100%;
  max-width: 740px;
}
.content__text {
  font-family: 'FuturaBookC', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #001717;
  margin: 0;
  white-space:normal;
}
.content__text_place_advantages {
  font-size: calc(20px - 0.003384095 * (1440px - 100vw));
  color: inherit;
}

@media screen and (min-width: 1440px) {
  .content__text_place_advantages {
    font-size: 20px;
  }
}
@media screen and (max-width: 849px) {
  .content__title {
    margin: 32px 0 16px 0;
    font-size: 28px;
    line-height: 1.43;
  }
  .content__text {
    font-size: 18px;
    line-height: 1.35;
  }
  .content__text_place_advantages {
    font-size: 16px;
    line-height: 1.25;
  }
}
