.lead {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.58) 0.73%,
      rgba(255, 255, 255, 0) 61.78%
    ),
    url(../../images/lead-bg-image-1.png) no-repeat left top,
    url(../../images/lead-bg-image-2.png) no-repeat right top;
  background-size: 100%, 50%, 50%;

  margin: 0;
  padding: 13.889% 11.459% 10.487% 11.459%;
  font-family: "EBGaramond", Helvetica, sans-serif;
  color: #ffffff;
  position: relative;
  z-index: 2;
  color: #01796f;
  display: flex;
  flex-direction: column;
}

.lead__header {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.21;
  text-transform: uppercase;
  letter-spacing: 0.043em;
  max-width: 700px;
  margin: 0;
  z-index: 2;
}

.list {
  list-style-type: none;
}

.lead__list {
  padding-left: 28px;
  margin: 47px 0 0 0;
}
.lead__list-item {
  position: relative;
  margin-top: 29px;
}
.lead__list-item:first-of-type {
  margin-top: 0px;
}

.lead__text {
  font-size: 24px;
  color: #001717;
  font-weight: 500;
  margin: 0;
}

.lead__list-item::before {
  position: absolute;
  content: "\2022";
  color: #01796f;
  left: -31px;
  top: 13px;
  font-size: 45px;
  line-height: 0;
}

.lead__link {
  margin: 58px auto 0 0;
  background: #995750;
  min-width: 314px;
  min-height: 24px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-family: FuturaBookC;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 17px 0 15px 0;
}

.lead__link:hover {
  background: #75978c;
}
